@import 'header'
@import 'main'
@import 'single-item'
@import 'constants'

*
  margin: 0
  padding: 0
html
  position: relative
  width: 100%

body
  width: 100%
  height: 100%
  font-family: sans-serif
  color: $grey

h1
  font-size: 56px
  font-weight: 400
